<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img src="assets/icon/Axnosis.png" alt="Company Logo" slot="start" class="company-logo-header"></ion-img>
    <ion-title>Availability</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Availability</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <h3>Check Venue Availability</h3>
    <form [formGroup]="availabilityForm" (ngSubmit)="bookSelectedDates()">
      <ion-select
        formControlName="venueId"
        placeholder="Select Venue"
        label="Venue"
        labelPlacement="floating"
        [class.invalid]="availabilityForm.get('venueId')!.touched && availabilityForm.get('venueId')!.invalid"
      >
        <ion-select-option *ngFor="let venue of venues" [value]="venue.id">
          {{ venue.name }} - {{ venue.location }}
        </ion-select-option>
      </ion-select>
      <ion-datetime
        formControlName="dates"
        presentation="date"
        multiple="true"
        label="Dates"
        [class.invalid]="availabilityForm.get('dates')!.touched && availabilityForm.get('dates')!.invalid"
      ></ion-datetime>
      <ion-label *ngIf="availabilityForm.get('dates')!.touched && availabilityForm.get('dates')!.invalid" class="error-message">
        Please select at least one valid date.
      </ion-label>
      <ion-button type="submit" expand="block" [disabled]="availabilityForm.invalid">Book Dates</ion-button>
    </form>
    <ion-button expand="block" routerLink="/home">Go to Home</ion-button>
    <ion-button expand="block" routerLink="/bookings">Go to Bookings</ion-button>
  </div>
</ion-content>
