<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img src="assets/icon/Axnosis.png" alt="Company Logo" slot="start" class="company-logo-header"></ion-img>
    <ion-title>Check Availability</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Check Availability</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <h3>Check Venue Availability</h3>
    <form [formGroup]="availabilityForm" (ngSubmit)="bookSelectedDates()">
      <ion-item>
        <ion-label position="floating">Venue</ion-label>
        <ion-select
          formControlName="venueId"
          (ionChange)="selectVenue($event.detail.value)"
        >
          <ion-select-option *ngFor="let venue of venues" [value]="venue.id">
            {{ venue.name }} - {{ venue.location }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item
        *ngIf="availabilityForm.get('venueId')!.touched && availabilityForm.get('venueId')!.invalid"
      >
        <ion-label color="danger">Please select a venue.</ion-label>
      </ion-item>
      <ion-list
        *ngIf="selectedVenue && selectedVenue.availableDates.length > 0"
      >
        <ion-item>
          <ion-label>Available Dates for {{ selectedVenue.name }}</ion-label>
        </ion-item>
        <ion-item *ngFor="let date of selectedVenue.availableDates">
          <ion-label>{{ date }}</ion-label>
        </ion-item>
      </ion-list>
      <ion-item
        *ngIf="selectedVenue && selectedVenue.availableDates.length === 0"
      >
        <ion-label color="warning"
          >No available dates for {{ selectedVenue.name }}.</ion-label
        >
      </ion-item>
      <ion-item>
        <ion-label position="floating">Dates</ion-label>
        <ion-datetime
          formControlName="dates"
          presentation="date"
          multiple="true"
          [min]="today"
        ></ion-datetime>
      </ion-item>
      <ion-item
        *ngIf="availabilityForm.get('dates')!.touched && availabilityForm.get('dates')!.invalid"
      >
        <ion-label color="danger"
          >Please select at least one valid date.</ion-label
        >
      </ion-item>
      <ion-button
        type="submit"
        expand="block"
        [disabled]="availabilityForm.invalid"
        >Book Dates</ion-button
      >
    </form>
    <ion-button expand="block" routerLink="/home">Go to Home</ion-button>
  </div>
</ion-content>