ion-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#logo {
  text-align: center;
  margin-bottom: 20px;
}

.company-logo-body {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.company-logo-header {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-right: 10px;
  margin-left: 30px;
}

#portal {
  width: 100%;
  max-width: 600px; /* Limit width for better readability */
  padding: 0 20px;
  margin-bottom: 20px; /* Space between portal and container */
}

.venue-card {
  margin: 10px 0; /* Space between cards */
}

.check-availability {
  margin-top: 10px; /* Space above button in card */
}

#container {
  text-align: center;
  width: 100%;
  max-width: 400px;
  padding: 0 20px;
}

#container ion-button {
  margin-bottom: 10px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}