.company-logo-header {
    width: 70px;
    height: 70px;
    object-fit: contain;
    margin-right: 10px;
    margin-left: 30px;
}

.company-logo-body {
    width: 10px;
    height: 10px;
    object-fit: contain;
    margin-right: 10px;
    margin-left: 10px;
}